
@{
    ViewBag.Title = "Report";
}

<h2>Admin Report Page</h2>

<h3>Available Media</h3>
<div id="table">
    <table class="table" style="font-size:12px;">
        <thead>
            <tr>
                <th scope="col">Media Id</th>
                <th scope="col">UID</th>
                <th scope="col">Title</th>
                <th scope="col">PublishYear</th>
                <th scope="col">Budget</th>
                <th scope="col">Director</th>
                <th scope="col">Genre</th>
                <th scope="col">Language</th>
                

            </tr>
        </thead>
        <tbody>

            @foreach (var movie in ViewBag.AvailableList)
            {

                <tr>
                    <th scope="row">@movie.MediaID</th>
                    <td>@movie.UID</td>
                    <td>@movie.Title</td>
                    <td>@movie.PublishYear</td>
                    <td>@movie.Budget
                    </td>
                    <td>@movie.Director</td>
                    <td>@movie.Genre</td>
                    <td>@movie.Language</td>
                    
                </tr>
            }

        </tbody>
    </table>
</div>

<h3>Reserving Media</h3>
<div id="table">
    <table class="table" style="font-size:12px;">
        <thead>
            <tr>
                <th scope="col">Media Id</th>
                <th scope="col">Title</th>
                <th scope="col">PublishYear</th>
                <th scope="col">Budget</th>
                <th scope="col">Director</th>
                <th scope="col">Genre</th>
                <th scope="col">Language</th>
                <th scope="col">Reserved date</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var movie in ViewBag.ReservingList)
            {

                <tr>
                    <th scope="row">@movie.MediaID</th>
                    <td>@movie.Title</td>
                    <td>@movie.PublishYear</td>  
                    <td>@movie.Budget</td>
                    <td>@movie.Director</td>
                    <td>@movie.Genre</td>
                    <td>@movie.Language</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
<h3>Borrowing Media</h3>
<div id="table">
    <table class="table" style="font-size:12px;">
        <thead>
            <tr>
                <th scope="col">Media Id</th>
                <th scope="col">UID</th>
                <th scope="col">Title</th>
                <th scope="col">PublishYear</th>
                <th scope="col">Budget</th>
                <th scope="col">Director</th>
                <th scope="col">Genre</th>
                <th scope="col">Language</th>
                

            </tr>
        </thead>
        <tbody>

            @foreach (var movie in ViewBag.BorrowingList)
            {
                <tr>
                    <th scope="row">@movie.MediaID</th>
                    <td>@movie.UID</td>
                    <td>@movie.Title</td>
                    <td>@movie.PublishYear</td>
                    <td>@movie.Budget</td>
                    <td>@movie.Director</td>
                    <td>@movie.Genre</td>
                    <td>@movie.Language</td>
                   
                </tr>
            }

        </tbody>
    </table>
</div>

